<row>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Games</h2>
            
        <%= link_to "Create game", new_game_path, class: 'btn btn-custom btn-lg btn-block' %>
        <%= link_to "Edit games", games_path, class: 'btn btn-custom btn-lg btn-block' %>

      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Users</h2>
            
        <%= link_to "Create user", new_user_registration_path, class: 'btn btn-custom btn-lg btn-block' %>
        <%= link_to "Edit users", user_registration_path, class: 'btn btn-custom btn-lg btn-block' %>

      </div>
    </div>
</row>