<div class="jumbotron text-center">
    <h1 class="white montserrat">Criteo Football Club</h1>
    <p class="lead white montserrat">Welcome! Join our next game!</p>
    <p><a class="btn btn-large btn-success" href="http://bootply.com/tagged/bootstrap-3" target="ext">More Examples</a></p>
</div>
<row>
<div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Join Us</h2>
      <h4>Sign up and join the Club!</h4>
      <br/>
      <%= link_to "Join us", "#", class: 'btn btn-custom btn-lg btn-block' %>
    </div>
</div>

<div class="col-md-6">
  <div class="well">
    <h2 class="text-center">Next game:</h2>
    <p>Address: xxxxxxxxxxxxxxxxxxx</p>
    <p>Time: aa:bb</p>
    <p>Players: 10</p>
    <br/>
    <%= link_to "Join the game", "#", class: 'btn btn-custom btn-lg btn-block' %>
  </div>
</div>

</row>