<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h1 class="text-center">Join The Game!</h1>
        <!--<p class="text-center">Be part of the Dev Match community by filling out your profile!</p>-->
    
        <%= render 'form' %>
    </div>
</div