<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <% @game.users.each_with_index do |u, index| %>
        
        <%= index+1.to_s + " - " + u.name %> <br>
        
        <% end %>
    </div>
</div>