<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Hey <%= " #{@name}" %></h1>
    <p>Thanks for letting us know! Hope to see you next time!%></p>
    <p>Ciao!</p>
    <p>Andrea</p>
  </body>
</html>