<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Hey <%= " #{@name}" %></h1>
    <p>You're now part of Criteo Football! Your password is <%= "#{ @password}" %></p>
    <p> sign up to the next game: <%= root_path %></p>
  </body>
</html>