<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Hey Criteos!</h1>
    <p>There's a new game this week on @ <%= "#{ @address }, on #{ @date }. h#{ @time }" %></p>
    <p> sign up here: <%= root_path %></p>
  </body>
</html>