// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.co

@font-face {
  font-family: 'Hurme Design';
  src: url('Hurme Design - HurmeGeometricSans3 Regular.otf');

}


html * {
   
   font-family: "Hurme Design" !important;
}

body {
    background: #ef8d3b;
    background: -moz-linear-gradient(left,#ef8d3b 0%,#f9c657 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#ef8d3b),color-stop(100%,#f9c657));
    background: -webkit-linear-gradient(left,#ef8d3b 0%,#f9c657 100%);
    background: -o-linear-gradient(left,#ef8d3b 0%,#f9c657 100%);
    background: -ms-linear-gradient(left,#ef8d3b 0%,#f9c657 100%);
    background: linear-gradient(to right,#ef8d3b 0%,#f9c657 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef8d3b',endColorstr='#f9c657',GradientType=1);
}

.move-top{
    
    position: relative;
    bottom: 50px;
}

.btn-danger{
    
    font-size: 18px !important;
}

.text-center.custom-h{
    
    position: relative;
    bottom: 70px;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 4px 1px 0px white;
    
}

.jumbotron{
    
    margin-bottom: 50px !important;
}

.custom-jumbo{
    
    -webkit-box-shadow: 0px 14px 41px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 41px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 41px 3px rgba(0,0,0,0.75);
}
.spacing{
    
    letter-spacing: 10px;
}

.col-md-12.no-padding{
    
    padding: 0;
}

.button-custom {
    background: #ef8d3b;
    background: -moz-linear-gradient(left,#ef8d3b 0%,#f9c657 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#ef8d3b),color-stop(100%,#f9c657));
    background: -webkit-linear-gradient(left,#ef8d3b 0%,#f9c657 100%);
    background: -o-linear-gradient(left,#ef8d3b 0%,#f9c657 100%);
    background: -ms-linear-gradient(left,#ef8d3b 0%,#f9c657 100%);
    background: linear-gradient(to right,#ef8d3b 0%,#f9c657 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef8d3b',endColorstr='#f9c657',GradientType=1);
}

.navbar-brand > img{
    
    width: 150px;
    max-width: 70%;
    height: auto;
}

.navbar.navbar-inverse.navbar-static-top{
    
    background-color: white;
    //border-color: transparent;
    margin-bottom: 0;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  
}

.navbar-brand ,.navbar-nav>li>a {
  	padding-left: 30px;
    padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
} 
.navbar-nav>.active>a {
	opacity:.6;
}


.jumbotron {
    //color: white;
    //background: #FFB75E; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to left, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-image: url(https://pixabay.com/static/uploads/photo/2014/10/14/20/24/the-ball-488716_960_720.jpg);
    background-repeat: none;
    background-attachment: initial;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
//    position: relative;
    bottom: 51px;
    height: 400px;
    margin-top: 50px;

}


.white {
    color: white !important;
} 


.montserrat {
    
    font-family: "Montserrat-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    
}

.btn-custom {
  background-color: hsl(35, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9605", endColorstr="#ef8b00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff9605), to(#ef8b00));
  background-image: -moz-linear-gradient(top, #ff9605, #ef8b00);
  background-image: -ms-linear-gradient(top, #ff9605, #ef8b00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9605), color-stop(100%, #ef8b00));
  background-image: -webkit-linear-gradient(top, #ff9605, #ef8b00);
  background-image: -o-linear-gradient(top, #ff9605, #ef8b00);
  background-image: linear-gradient(#ff9605, #ef8b00);
  border-color: #ef8b00 #ef8b00 hsl(35, 100%, 46%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}